<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="root">
        <div class="wrapper">
            <a href="log.ejs">logs</a>
            <a href="income.ejs">income</a>
            <a href="outcome.ejs">outcome</a>
            <a href="invest.ejs">invest</a>
            <h1>Категории</h1>
            <h1>erwgoljkhvhrbjk;vhgujikb</h1>
        </div>
    </div>
</body>
</html>