<label for="outCateg"> Категория</label>
                 <!-- <input type="text" name="outcomeCategory" id="outCateg">  -->
                    <select name="outcomeCategory" id="outCateg" required>
                        <option value="">--Выберете категорию--</option>
                        <option value="products">Продукты</option>
                        <option value="cafe">Кафе</option>
                        <option value="transport">Транспорт</option>
                        <option value="gifts">Подарки</option>
                        <option value="health">Здоровье</option>
                        <option value="shopping">Покупки</option>
                        <option value="invest">Инвестиции</option>
                    </select>