<label for="incCurrency">Валюта</label>
<select name="incomeCurrency" id="incCurrency" required>
        <option value="">--Выберете валюту--</option>
        <optgroup label="CASH">
            <option value="rub">RUB</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="yen">YEN</option>
            <option value="pnd">PND</option>
            <option value="frc">FRC</option>
        </optgroup>
        <optgroup label="CRYPT">
            <option value="btc">BTC</option>
            <option value="eth">ETH</option>
            <option value="teth">TETH</option>
        </optgroup>
</select>