<label for="incType">Категория Доходов</label>
<select name="incomeType" id="incType" required>
        <option value="">--Выберете категорию--</option>
            <option value="PayDay">PAY DAY</option>
            <option value="Sell">SELL</option>
            <option value="Exchange">EXCHANGE</option>
            <option value="Passive">PASSIVE</option>
            <option value="Gifts">GIFTS</option>
</select>