<label for="invType">Категория инвестиций</label>
<select name="investType" id="invType" required>
        <option value="">--Выберете категорию--</option>
            <option value="rub">GOLD</option>
            <option value="usd">STOCK</option>
            <option value="eur">IMMOVABLES</option>
            <option value="yen">EDUCATION</option>
            <option value="pnd">TRAVEL</option>
            <option value="frc">PENSION</option>
</select>