<label for="invType">Категория инвестиций</label>
<select name="investType" id="invType" required>
        <option value="">--Выберете категорию--</option>
            <option value="Gold">GOLD</option>
            <option value="Stock">STOCK</option>
            <option value="Immovables">IMMOVABLES</option>
            <option value="Education">EDUCATION</option>
            <option value="Travel">TRAVEL</option>
            <option value="Pension">PENSION</option>
</select>